.character {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;

  &__balloon {
    height: 170px;
    width: 190px;
    padding: 4px;
    text-align: center;

    p {
      opacity: 0;
      animation: appear .7s .2s forwards;
    }
    
    &.nes-balloon {
      display: flex;
      flex-direction: center;
      align-items: center;
      justify-content: center;
    }
  }

  .nes-smartphone {
    &.change-orientation {
      animation: change-orientation 1s .2s forwards;
    }
  }
}

@keyframes change-orientation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

