@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* { 
    box-sizing: border-box;
}

html, body, #root, .layout {
    height: 100%;
}

.layout { 
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__screen {
        font-family: "Press Start 2P";
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        max-height: 400px;
    }
}